<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head th:replace="~{fragments/head :: head(~{},~{})}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-light">
<main class="container">
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h5 th:text="${title}" class="border-bottom pb-2 mb-2">ERROR</h5>
        <p th:text="'Error message: ' + ${error}">Error Info</p>
        <p th:text="'Error code: ' + ${status}">Status</p>
    </div>
</main>
</body>
</html>
