<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="~{fragments/head :: head(~{},~{})}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-light">
<main class="container ">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h5 th:text="${title}" class="border-bottom pb-2 mb-2">TITLE</h5>


        <div class="my-3">
            <h6>Download actual template:</h6>
            <div class="p-3">
                <a th:href="@{/files/template_crf.xlsx}">Download template</a>
            </div>

            <h6>Upload study:</h6>
            <div th:if="${message}" class="alert alert-warning" role="alert">
                [[${message}]]
            </div>

            <form th:action="@{/study/uploadFile}" method="post" enctype="multipart/form-data"
                  style="max-width: 550px; margin: 0 auto">

                <div class="p-3">

                    <div class="mb-3">
                        <label for="file" class="form-label">Please select file</label>
                        <input class="form-control" type="file" id="file" name="file">
                    </div>

                    <div class="text-end">
                        <input type="submit" value="Upload file" class="btn btn-primary btn-sm mr-2 col-2" />
                        <input type="button" value="Cancel" id="btnCancel" class="btn btn-secondary btn-sm col-2" />
                    </div>
                </div>
            </form>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#btnCancel").on("click", function () {
                    window.location = "[[@{/}]]";
                });
            });
        </script>
    </div>
</main>
</body>
</html>
