<header class="my-3 p-3 bg-body rounded shadow-sm">
    <ul class="nav nav-pills">
        <li class="nav-item" th:each="menu:${menu}">
            <a th:if="${menu.active}" th:href="${menu.url}" href="/" class="nav-link active" th:aria-current="${menu.name}" th:text="${menu.name}">
                Home
            </a>
            <a th:unless="${menu.active}" th:href="${menu.url}" href="/" class="nav-link" th:text="${menu.name}">
                Home
            </a>
        </li>
    </ul>
</header>
